.container {
  max-width: 1280px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 0;
  width: 1280px;
}
.header-signup {
  background-color: white;
  color: #2cb1ba;
  margin-right: 20px;
}

.header-signup {
  font-family: "Maison Neue";
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  color: #2cb1ba;
  border: 1px solid #2cb1ba;
  margin-right: 20px;
}
.header-login {
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  color: #2cb1ba;
  border: 1px solid #2cb1ba;
  margin-right: 20px;
}

.header-button {
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
}

header img {
  cursor: pointer;
  display: flex;
  margin: 0 50px 0 100px;
  width: 145px;
}

.search-input {
  width: 400px;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
  font-family: "Maison Neue";
  font-size: 16px;
}

.header-salt {
  font-family: "Maison Neue";
  padding: 5px;
  border-radius: 5px;
  background-color: #2cb1ba;
  color: white;
  border: 1px solid #2cb1ba;
  margin-right: 20px;
}

.search-input::placeholder {
  color: #cbcccd;
  font-size: 16px;
}
h1 {
  color: black;
  font-size: 24px;
  font-weight: 400;
}

/* ********* Hero********* */
.hero {
  height: 455px;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/hero.img.jpg");
}

.hero-inter {
  margin: 100px 200px;
  background-color: white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-size: 34px;
  height: 220px;
  justify-content: center;
  padding: 25px;
  position: absolute;
  top: 75px;
  width: 360px;
}
.hero-button {
  height: 45px;
  width: 187px;
  background-color: #2baeb7;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  border: none;
  padding: 0 14px;
  margin-top: 32px;
}

/* ********ARTICLE********** */

.product-name {
  display: grid;
  width: 1300px;
  margin: 30px auto;
  grid-template-columns: repeat(5, 1fr);
}

.product-name img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  /* border: 11px solid green; */
  width: 200px;
  height: 398px;
}
.product {
  /* border: 11px solid green; */
  margin-top: 30px;

  width: px;
}

.offer {
  display: flex;
  gap: 9Opx;
  justify-content: space-around;
  margin: 0 auto;
  padding: 30px;
  /* height: 400px; */
  background-color: lightgray;
}

.offer-img {
  display: flex;

  width: 100px;
  margin: 0 0 0 120px;
  height: 600px;
  object-fit: cover;
}

.offer-details {
  width: 400px;
  height: 600px;
  margin: 0 150px 0 0;
  background-color: white;
}

.offer-details button {
  margin-top: 330px;
  background: #09b1ba;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  height: 36px;
  line-height: 36px;

  padding: 0 16px;
  width: 100%;
}

/* ******SINGUP ************/
.container {
  width: 1280px;
  /* border: 1px solid red; */
}
.form-validation {
  font-family: "Maison Neue";
  padding: 5px;
  border-radius: 5px;
  background-color: #2cb1ba;
  color: white;
  border: 1px solid #2cb1ba;
  margin-right: 20px;
}
.inscription {
  font-family: "Maison Neue";
  padding: 5px;
  border-radius: 5px;
  background-color: #2cb1ba;
  color: white;
  border: 1px solid #2cb1ba;
  margin-right: 20px;
}
.inscription {
  margin-bottom: 20px;
  /* border: 1px solid green; */
  font-size: 20px;
  /* margin: 20px 10px 4px 100px; */
  margin-top: 20px;
}
form {
  color: grey;
  margin: auto;

  background-color: white;
  width: 275px;
}

form input {
  display: flex;

  border: none;
  width: 100%;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  background-color: white;
}

.signup {
  margin: 0 auto;
}
.checkbox-container {
  /* gap: 130px; */
  display: flex;
}
.check {
  border: 11px solid #fcced3;
  font-size: medium;
}
